*.i90
*.mod
*.obj
*.suo
*.u2d
*.nc
*.patch
lib/
modules/
build/
timestamp
VERSION
include/version.h
*.pyc
/build*
/util/developers/*.log
/src/drivers/python/pyfabm.egg-info
/src/drivers/python/pyfabm/*.dll
