/.vscode
/build
/dist
*.whl
/src/pyfabm.egg-info
/setup.cfg
/util/developers/*.log
/util/standard_variables/standard_variables.wiki
*-checkpoint.ipynb
*.pyc
*.nc
/src/pyfabm/*.dll
/src/pyfabm/*.so
/src/pyfabm/*.dylib

